/*
## Colors

### Primary

- Blue: hsl(246, 80%, 60%)

- Light red (work): hsl(15, 100%, 70%)
- Soft blue (play): hsl(195, 74%, 62%)
- Light red (study): hsl(348, 100%, 68%)
- Lime green (exercise): hsl(145, 58%, 55%)
- Violet (social): hsl(264, 64%, 52%)
- Soft orange (self care): hsl(43, 84%, 65%)

### Neutral

- Very dark blue: hsl(226, 43%, 10%)
- Dark blue: hsl(235, 46%, 20%)
- Desaturated blue: hsl(235, 45%, 61%)
- Pale Blue: hsl(236, 100%, 87%)
*/
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

a {
  text-decoration: none;
  color: wheat;
}

.container {
  width: 100%;
  max-width: 1440px;
  height: 100vh;
  background: #0f1424;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .container1 {
  width: 1000px;
  padding: 10px 0px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-gap: 1em;
  grid-template-areas: "box_principal   box_trabalho       box_lazer     box_estudos" "box_principal   box_exercicios   box_social   box_saude";
}
.container .container1 .box_principal {
  padding: 10px 0px;
  grid-area: box_principal;
}
.container .container1 .box_trabalho {
  padding: 10px 0px;
  grid-area: box_trabalho;
}
.container .container1 .box_lazer {
  padding: 10px 0px;
  grid-area: box_lazer;
}
.container .container1 .box_estudos {
  padding: 10px 0px;
  grid-area: box_estudos;
}
.container .container1 .box_exercicios {
  padding: 10px 0px;
  grid-area: box_exercicios;
}
.container .container1 .box_social {
  padding: 10px 0px;
  grid-area: box_social;
}
.container .container1 .box_saude {
  padding: 10px 0px;
  grid-area: box_saude;
}

@media (min-width: 320px) and (max-width: 640px) {
  .container {
    height: auto;
  }
  .container .container1 {
    width: 1000px;
    padding: 10px 0px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, auto);
    grid-gap: 1em;
    grid-template-areas: "box_principal   box_principal       box_principal     box_principal" "box_trabalho      box_trabalho          box_trabalho        box_trabalho" "box_lazer      box_lazer          box_lazer        box_lazer" "box_estudos     box_estudos         box_estudos       box_estudos" "box_exercicios  box_exercicios      box_exercicios    box_exercicios" "box_social    box_social        box_social      box_social" "box_saude  box_saude      box_saude    box_saude";
  }
}
/*
## Colors

### Primary

- Blue: hsl(246, 80%, 60%)

- Light red (work): hsl(15, 100%, 70%)
- Soft blue (play): hsl(195, 74%, 62%)
- Light red (study): hsl(348, 100%, 68%)
- Lime green (exercise): hsl(145, 58%, 55%)
- Violet (social): hsl(264, 64%, 52%)
- Soft orange (self care): hsl(43, 84%, 65%)

### Neutral

- Very dark blue: hsl(226, 43%, 10%)
- Dark blue: hsl(235, 46%, 20%)
- Desaturated blue: hsl(235, 45%, 61%)
- Pale Blue: hsl(236, 100%, 87%)
*/
.box_secundario {
  width: 100%;
  height: 100%;
  background: #1c1f4a;
  border-radius: 15px;
  overflow: hidden;
}
.box_secundario .box_terciario {
  width: 100%;
  height: 300px;
  padding: 20px;
  background: #5847eb;
  border-radius: 0px 0px 10px 10px;
}
.box_ssecundario .box_terciario .image_box {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-image: url(../images/image-jeremy.png);
  background-size: 100% 100%;
  border: 2px solid white;
}
.box_secundario .box_terciario .box_quarto {
  width: 100%;
  line-height: 30px;
}
.box_secundario .box_terciario .box_quarto .titlePeq_box {
  margin-top: 20px;
  font-weight: 300;
  font-size: 18px;
  color: #bdc1ff;
}
.box_secundario .box_terciario .box_quarto .titlePeq_box {
  margin-top: 5px;
  font-weight: 300;
  font-size: 35px;
  color: white;
  line-height: 38px;
}
.box_secundario .box_tempo {
  margin-top: 5px;
  width: 100%;
  padding: 10px 20px;
}
.box_secundario .box_tempo .box_tempo1 {
  margin-bottom: 20px;
  color: #6f76c8;
}
.box_ssecundario .box_tempo .box_tempo1:hover {
  color: white;
}

@media (min-width: 320px) and (max-width: 640px) {
  .box_secundario {
    width: 90%;
    margin: auto;
  }
  .box_secundario .box_terciario {
    height: 180px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .box_secundario .box_terciario .image_box {
    margin-left: 20px;
  }
  .box_secundario .box_terciario .box_squarto {
    width: 220px;
    line-height: 7px;
  }
  .box_secundario .box_terciario .box_quarto .title_box {
    font-size: 28px;
  }
  .box_sidebar .box_sidebar__enlaces {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

/*--------------------------------*/

.box_trabalho1 {
  width: 100%;
  height: 100%;
  background: #ff8c66;
  border-radius: 15px;
}
.box_trabalho1 .trabalho_blocoA {
  width: 100%;
  height: 15%;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.box_trabalho1 .trabalho_blocoA .trabalho_image {
  width: 70px;
  height: 60px;
  background-image: url(../images/icon-work.svg);
  background-size: 100% 100%;
  position: absolute;
  top: -5px;
  right: 10px;
  z-index: 1;
}
.box_trabalho1 .trabalho_blocoA .trabalho_imagePlay {
  width: 70px;
  height: 60px;
  background-image: url(../images/icon-play.svg);
  background-size: 100% 100%;
  position: absolute;
  top: -5px;
  right: 10px;
  z-index: 1;
}
.box_trabalho1 .trabalho_blocoB {
  width: 100%;
  height: 85%;
  padding: 20px;
  background: #1c1f4a;
  border-radius: 15px;
  z-index: 2;
  transition: 0.2s ease-in-out all;
}
.box_trabalho1 .trabalho_blocoB .trabalho_blocoB1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box_trabalho1 .trabalho_blocoB .trabalho_blocoB1 .trabalho_texto {
  color: white;
  font-weight: 400;
  font-size: 18px;
}
.box_trabalho1 .trabalho_blocoB .trabalho_hora {
  margin-top: 20px;
  color: white;
  font-size: 60px;
  font-weight: 300;
}
.box_trabalho1 .trabalho_blocoB .trabalho_hora .esp {
  color: #da0808;
}
.box_trabalho1 .trabalho_blocoB .ultimo_trabalho {
  color: #bdc1ff;
  font-size: 16px;
  font-weight: 300;
}
.box_trabalho1 .trabalho_blocoB:hover {
  background: rgba(5, 34, 129, 0.753);
  cursor: pointer;
}

@media (min-width: 320px) and (max-width: 640px) {
  .box_trabalho1 {
    width: 90%;
    height: 230px;
    margin: auto;
  }
  .box_trabalho1 .trabalho_blocoB .trabalho_blocoB1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .box_trabalho1 .trabalho_blocoB .trabalho_blocoB1 .trabalho_texto {
    color: white;
    font-weight: 400;
    font-size: 18px;
  }
  .box_trabalho1 .trabalho_blocoB .trabalho_hora {
    margin-top: 20px;
    color: white;
    font-size: 60px;
    font-weight: 300;
    width: 150px;
    float: left;
  }
  .box_trabalho1 .trabalho_blocoB .trabalho_hora .esp {
    color: #da0808;
  }
  .box_trabalho1 .trabalho_blocoB .ultimo_trabalho {
    margin-top: 50px;
    float: right;
    width: 150px;
    color: #bdc1ff;
    font-size: 16px;
    font-weight: 300;
  }
}

/*--------------------------------*/

.box_lazer1 {
  width: 100%;
  height: 100%;
  background: #56c2e6;
  border-radius: 15px;
}
.box_lazer1 .lazer_blocoA {
  width: 100%;
  height: 15%;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.box_lazer1 .lazer_blocoA .lazer_image {
  width: 70px;
  height: 60px;
  background-image: url(../images/icon-work.svg);
  background-size: 100% 100%;
  position: absolute;
  top: -5px;
  right: 10px;
  z-index: 1;
}
.box_lazer1 .lazer_blocoA .lazer_image {
  width: 70px;
  height: 60px;
  background-image: url(../images/icon-play.svg);
  background-size: 100% 100%;
  position: absolute;
  top: -5px;
  right: 10px;
  z-index: 1;
}
.box_lazer1 .lazer_blocoB {
  width: 100%;
  height: 85%;
  padding: 20px;
  background: #1c1f4a;
  border-radius: 15px;
  z-index: 2;
  transition: 0.2s ease-in-out all;
}
.box_lazer1 .lazer_blocoB .lazer_blocB1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box_lazer1 .lazer_blocoB .lazer_blocoB1 .lazer_texto {
  color: white;
  font-weight: 400;
  font-size: 18px;
}
.box_lazer1 .lazer_blocoB .lazer_blocoB1 {
  margin-top: 20px;
  color: white;
  font-size: 60px;
  font-weight: 300;
}
.box_lazer1 .lazer_blocoB .ultimo_lazer {
  color: #bdc1ff;
  font-size: 16px;
  font-weight: 300;
}
.box_lazer1 .lazer_blocoB:hover {
  background: rgba(5, 34, 129, 0.753);
  cursor: pointer;
}

@media (min-width: 320px) and (max-width: 640px) {
  .box_lazer1 {
    width: 90%;
    height: 230px;
    margin: auto;
  }
  .box_lazer1 .lazer_blocoB .lazer_blocoB1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .box_lazer1 .lazer_blocoB .lazer_blocoB1 .lazer_texto {
    color: white;
    font-weight: 400;
    font-size: 18px;
  }
  .box_lazer1 .lazer_blocoB .lazer_blocoB1 {
    margin-top: 20px;
    color: white;
    font-size: 60px;
    font-weight: 300;
    width: 150px;
    float: left;
  }
  .box_lazer1 .lazer_blocoB .lazer_hora .esp {
    color: #da0808;
  }
  .box_lazer1 .lazer_blocoB .ultimo_lazer {
    margin-top: 50px;
    float: right;
    width: 150px;
    color: #bdc1ff;
    font-size: 16px;
    font-weight: 300;
  }
}

/*--------------------------------*/

.box_estudos1 {
  width: 100%;
  height: 100%;
  background: #ff5c7c;
  border-radius: 15px;
}
.box_estudos1 .estudos_blocoA {
  width: 100%;
  height: 15%;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.box_estudos1 .estudos_blocoA .estudos_image {
  width: 70px;
  height: 60px;
  background-image: url(../images/icon-work.svg);
  background-size: 100% 100%;
  position: absolute;
  top: -5px;
  right: 10px;
  z-index: 1;
}
.box_estudos1 .estudos_blocoA .estudos_image {
  width: 70px;
  height: 60px;
  background-image: url(../images/icon-study.svg);
  background-size: 100% 100%;
  position: absolute;
  top: -5px;
  right: 10px;
  z-index: 1;
}
.box_estudos1 .estudos_blocoB {
  width: 100%;
  height: 85%;
  padding: 20px;
  background: #1c1f4a;
  border-radius: 15px;
  z-index: 2;
  transition: 0.2s ease-in-out all;
}
.box_estudos1 .estudos_blocoB .estudos_blocoB1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box_estudos1 .estudos_blocoB .estudos_blocoB1 .estudos_texto {
  color: white;
  font-weight: 400;
  font-size: 18px;
}
.box_estudos1 .estudos_blocoB .estudos_blocoB1 {
  margin-top: 20px;
  color: white;
  font-size: 60px;
  font-weight: 300;
}
.box_estudos1 .estudos_blocoB .ultimo_estudos {
  color: #bdc1ff;
  font-size: 16px;
  font-weight: 300;
}
.box_estudos1 .estudos_blocoB:hover {
  background: rgba(5, 34, 129, 0.753);
  cursor: pointer;
}

@media (min-width: 320px) and (max-width: 640px) {
  .box_estudos1 {
    width: 90%;
    height: 230px;
    margin: auto;
  }
  .box_estudos1 .estudos_blocoB .estudos_blocoB1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .box_estudos1 .estudos_blocoB .estudos_blocoB1 .estudos_texto {
    color: white;
    font-weight: 400;
    font-size: 18px;
  }
  .box_estudos1 .estudos_blocoB .estudos_hora {
    margin-top: 20px;
    color: white;
    font-size: 60px;
    font-weight: 300;
    width: 150px;
    float: left;
  }
  .box_estudos1 .estudos_blocoB .estudos_hora .esp {
    color: #da0808;
  }
  .box_estudos1 .estudos_blocoB .ultimo_estudos {
    margin-top: 50px;
    float: right;
    width: 150px;
    color: #bdc1ff;
    font-size: 16px;
    font-weight: 300;
  }
}

/*--------------------------------*/

.box_exercicios1 {
  width: 100%;
  height: 100%;
  background: #4acf81;
  border-radius: 15px;
}
.box_exercicios1 .exercicios_blocoA {
  width: 100%;
  height: 15%;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.box_exercicios1 .exercicios_blocoA .exercicios_image {
  width: 70px;
  height: 60px;
  background-image: url(../images/icon-work.svg);
  background-size: 100% 100%;
  position: absolute;
  top: -5px;
  right: 10px;
  z-index: 1;
}
.box_exercicios1 .exercicios_blocoA .exercicios_image {
  width: 70px;
  height: 60px;
  background-image: url(../images/icon-exercise.svg);
  background-size: 100% 100%;
  position: absolute;
  top: -5px;
  right: 10px;
  z-index: 1;
}
.box_exercicios1 .exercicios_blocoB {
  width: 100%;
  height: 85%;
  padding: 20px;
  background: #1c1f4a;
  border-radius: 15px;
  z-index: 2;
  transition: 0.2s ease-in-out all;
}
.box_exercicios1 .exercicios_blocoB .exercicios_blocoB1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box_exercicios1 .exercicios_blocoB .exercicios_blocoB1 .exercicios_texto {
  color: white;
  font-weight: 400;
  font-size: 18px;
}
.box_exercicios1 .exercicios_blocoB .exercicios_hora {
  margin-top: 20px;
  color: white;
  font-size: 60px;
  font-weight: 300;
}
.box_exercicios1 .exercicios_blocoB .ultimo_exercicios {
  color: #bdc1ff;
  font-size: 16px;
  font-weight: 300;
}
.box_exercicios1 .exercicios_blocoB:hover {
  background: rgba(5, 34, 129, 0.753);
  cursor: pointer;
}

@media (min-width: 320px) and (max-width: 640px) {
  .box_exercicios1 {
    width: 90%;
    height: 230px;
    margin: auto;
  }
  .box_exercicios1 .exercicios_blocoB .exercicios_blocoB1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .box_exercicios1 .exercicios_blocoB .exercicios_blocoB1 .exercicios_texto {
    color: white;
    font-weight: 400;
    font-size: 18px;
  }
  .box_exercicios1 .exercicios_blocoB .exercicios_hora {
    margin-top: 20px;
    color: white;
    font-size: 60px;
    font-weight: 300;
    width: 150px;
    float: left;
  }
  .box_exercicios1 .exercicios_blocoB .exercicios_hora .esp {
    color: #da0808;
  }
  .box_exercicios1 .exercicios_blocoB .ultimo_exercicios {
    margin-top: 50px;
    float: right;
    width: 150px;
    color: #bdc1ff;
    font-size: 16px;
    font-weight: 300;
  }
}

/*--------------------------------*/

.box_social1 {
  width: 100%;
  height: 100%;
  background: #7536d3;
  border-radius: 15px;
}
.box_social1 .social_blocoA {
  width: 100%;
  height: 15%;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.box_social1 .social_blocoA .social_image {
  width: 70px;
  height: 60px;
  background-image: url(../images/icon-work.svg);
  background-size: 100% 100%;
  position: absolute;
  top: -5px;
  right: 10px;
  z-index: 1;
}
.box_social1 .social_blocoA .social_image {
  width: 70px;
  height: 60px;
  background-image: url(../images/icon-social.svg);
  background-size: 100% 100%;
  position: absolute;
  top: -5px;
  right: 10px;
  z-index: 1;
}
.box_social1 .social_blocoB {
  width: 100%;
  height: 85%;
  padding: 20px;
  background: #1c1f4a;
  border-radius: 15px;
  z-index: 2;
  transition: 0.2s ease-in-out all;
}
.box_social1 .social_blocoB .social_blocoB1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box_social1 .social_blocoB .social_blocoB1 .box_social_blockB_box_text {
  color: white;
  font-weight: 400;
  font-size: 18px;
}
.box_social1 .social_blocoB .social_hora {
  margin-top: 20px;
  color: white;
  font-size: 60px;
  font-weight: 300;
}
.box_social1 .social_blocoB .ultimo_social {
  color: #bdc1ff;
  font-size: 16px;
  font-weight: 300;
}
.box_social1 .social_blocoB:hover {
  background: rgba(5, 34, 129, 0.753);
  cursor: pointer;
}

@media (min-width: 320px) and (max-width: 640px) {
  .box_social1 {
    width: 90%;
    height: 230px;
    margin: auto;
  }
  .box_social1 .social_blocoB .social_blocoB1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .box_social1 .social_blocoB .social_blocoB1, .social_texto {
    color: white;
    font-weight: 400;
    font-size: 18px;
  }
  .box_social1 .social_blocoB .social_hora {
    margin-top: 20px;
    color: white;
    font-size: 60px;
    font-weight: 300;
    width: 150px;
    float: left;
  }
  .box_social1 .social_blocoB .social_hora .esp {
    color: #da0808;
  }
  .box_social1 .social_blocoB .ultimo_social {
    margin-top: 50px;
    float: right;
    width: 150px;
    color: #bdc1ff;
    font-size: 16px;
    font-weight: 300;
  }
}

/*--------------------------------*/

.box_saude1 {
  width: 100%;
  height: 100%;
  background: #f1c65b;
  border-radius: 15px;
}
.box_saude1 .saude_blocoA {
  width: 100%;
  height: 15%;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.box_saude1 .saude_blocoA .saude_image {
  width: 70px;
  height: 60px;
  background-image: url(../images/icon-work.svg);
  background-size: 100% 100%;
  position: absolute;
  top: -5px;
  right: 10px;
  z-index: 1;
}
.box_saude1 .saude_blocoA .saude_image {
  width: 70px;
  height: 60px;
  background-image: url(../images/icon-self-care.svg);
  background-size: 100% 100%;
  position: absolute;
  top: -5px;
  right: 10px;
  z-index: 1;
}
.box_saude1 .saude_blocoB {
  width: 100%;
  height: 85%;
  padding: 20px;
  background: #1c1f4a;
  border-radius: 15px;
  z-index: 2;
  transition: 0.2s ease-in-out all;
}
.box_saude1 .saude_blocoB .saude_blocoB1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box_saude1 .saude_blocoB .saude_blocoB1 .saude_texto {
  color: white;
  font-weight: 400;
  font-size: 18px;
}
.box_saude1 .saude_blocoB .saude_hora {
  margin-top: 20px;
  color: white;
  font-size: 60px;
  font-weight: 300;
}
.box_saude1 .saude_blocoB .ultimo_saude {
  color: #bdc1ff;
  font-size: 16px;
  font-weight: 300;
}
.box_saude1 .saude_blocoB:hover {
  background: rgba(5, 34, 129, 0.753);
  cursor: pointer;
}

@media (min-width: 320px) and (max-width: 640px) {
  .box_saude1 {
    width: 90%;
    height: 230px;
    margin: auto;
  }
  .box_saude1 .saude_blocoB .saude_blocoB1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .box_saude1 .saude_blocoB .saude_blocoB1 .saude_texto {
    color: white;
    font-weight: 400;
    font-size: 18px;
  }
  .box_saude1 .saude_blocoB .saude_hora {
    margin-top: 20px;
    color: white;
    font-size: 60px;
    font-weight: 300;
    width: 150px;
    float: left;
  }
  .box_saude1 .saude_blocoB .saude_hora .esp {
    color: #da0808;
  }
  .box_saude1 .saude_blocoB .ultimo_saude {
    margin-top: 50px;
    float: right;
    width: 150px;
    color: #bdc1ff;
    font-size: 16px;
    font-weight: 300;
  }
}
/*
## Colors

### Primary

- Blue: hsl(246, 80%, 60%)

- Light red (work): hsl(15, 100%, 70%)
- Soft blue (play): hsl(195, 74%, 62%)
- Light red (study): hsl(348, 100%, 68%)
- Lime green (exercise): hsl(145, 58%, 55%)
- Violet (social): hsl(264, 64%, 52%)
- Soft orange (self care): hsl(43, 84%, 65%)

### Neutral

- Very dark blue: hsl(226, 43%, 10%)
- Dark blue: hsl(235, 46%, 20%)
- Desaturated blue: hsl(235, 45%, 61%)
- Pale Blue: hsl(236, 100%, 87%)
*/

/*# sourceMappingURL=main.css.map */
